.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: rem(60);

  &Image {
    position: relative;
    z-index: $z-200;

    &Pic {
      position: relative;
      z-index: $z-100;
    }

    &::before, &::after {
      content: "";
      position: absolute;
      width: clamp(rem(130),14vw,rem(175));
      height: clamp(rem(70),7vw,rem(85));
      background-color: $mainGreen;
    }

    &::before {
      top: rem(-12);
      left: rem(-12);
    }

    &::after {
      bottom: rem(-12);
      right: rem(-12);
    }
  }

  @include tablet() {
    flex-direction: column;
    row-gap: rem(80);
  }
}