@use "./variables" as *;

button,
label {
  cursor: pointer;
}

img,
button {
  user-select: none;
}

button {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  border: 0;
  background-color: transparent;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  outline: rem(1) solid transparent;
  outline-offset: rem(5);
  border-radius: rem(4);
  transition: $transition;

  &:focus-visible {
    outline-color: $mainGreen;
  }
}

body {
  font-family: var($font-dm_sans);
  overflow: hidden;
}

li {
  list-style: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var($font-montserrat);
}
