$mainBlack: #161616;
$mainGreen: #244D4D;
$mainWhite: #FFFFFF;
$mainGray: #444444;

$secondaryGreen: #154444;
$secondaryBlack: #242424;
$secondaryGray: #383738;
$secondBlue: #ECF4FF;
$secondWhite: #F4F6F6;

$lightGreen: #DEE4E2;

$selectColor: #EF5423;
$disableGray: #919090;
$starYellow: #FFB624;
$mainGray: #7F7F7F;
$mainBackground: #FCFBFF;
$disableInput: #BABABA;
$borderGreen: #407980;

$font-montserrat: (--font-montserrat);
$font-dm_sans: (--font-dm_sans);

$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-400: 400;

$transition: 0.4s;