.close {
  position: absolute;
  top: rem(30);
  right: rem(20);
  width: rem(30);
  height: rem(20);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: rem(2);
    background-color: $mainBlack;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
