.close {
  position: absolute;
  top: rem(20);
  right: rem(20);
  width: rem(40);
  height: rem(40);

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(2);
    background-color: $mainBlack;
  }

  &::before {
    top: rem(20);
    rotate: 45deg;
  }

  &::after {
    bottom: rem(10);
    rotate: -45deg;
  }
}