.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(20);

  &Title {
    color: $mainGreen;
    text-align: center;
    @include fluid-text(32, 24)
  }

  &Buttons {
    display: flex;
    column-gap: clamp(rem(30),7vw,rem(100));
    overflow-x: auto;
  }

  &Button {
    flex-shrink: 0;
    color: $disableGray;
    @include fluid-text(24, 16)
  }
}