.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(20);

  &Title {
    color: $mainGreen;
    text-align: center;
    @include fluid-text(32, 24);
  }

  &Buttons {
    display: flex;
    column-gap: clamp(rem(30), 7vw, rem(100));
    height: clamp(rem(30),7vw,rem(40));
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &Button {
    position: relative;
    flex-shrink: 0;
    color: $disableGray;
    @include fluid-text(24, 16);

    &::before {
      content: "";
      position: absolute;
      bottom: rem(-5);
      left: calc(50% - rem(29));
      height: rem(2);
      width: rem(57);
      background-color: $mainGreen;
      scale: 0;
      transition: $transition;
    }

    @include hover() {
      color: $mainBlack;
    }

    &Active {
      color: $mainGreen;
      transition: $transition;

      &::before {
        scale: 1;
      }
    }
  }
}
