.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8);
  background-color: $secondBlue;
  color: $mainBlack;
  border-radius: 50%;

  @include active();
  @include hover() {
    opacity: 0.7
  };
}