.button {
  position: absolute;
  top: rem(20);
  right: rem(20);
  width: rem(30);
  height: rem(20);

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: rem(2);
    background-color: $mainWhite;
  }

  &::before {
    transform: translate(0, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(0, -50%) rotate(-45deg);
  }
}