.form {
  padding-inline: rem(10);
  width: min(100%, rem(400));

  &InputContainer {
    margin-bottom: rem(15);
  }

  &Input {
    padding: rem(8) rem(15);
    width: 100%;
    border: rem(1) solid $mainGray;
    border-radius: rem(8);
  }

  &Error {
    color: $selectColor;
  }

  &Swap {

  }

  &Submit {

  }
}