.header {
  padding-block: rem(44) rem(26);

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Buttons {
    display: flex;
    align-items: center;
    column-gap: rem(30);
  }

  &Search {
    display: inline-flex;
    color: $mainGreen;
  }
}
