.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-block: rem(44) rem(26);
  background-color: $mainWhite;

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &Nav {
    @include tablet() {
      display: none;
    }
  }

  &Buttons {
    display: flex;
    align-items: center;
    column-gap: rem(30);
  }

  &Search {
    display: inline-flex;
    color: $mainGreen;

    @include active();

    @include hover() {
      color: $mainBlack;
    }
  }

  @include mobile() {
    padding-block: rem(24);
  }
}
