.hero {
  margin-top: rem(106);

  &Container {
    display: flex;
    align-items: center;
    background-color: $secondaryGreen;
  }

  &Image {
    width: min(100%, rem(411));

    @include mobile() {
      display: none;
    }
  }

  @include mobile() {
    margin-top: rem(84);
  }
}